/** @format */

.hover nav {
  height: 500px;
  margin-top: 7%;
  border-radius: 1%;
  width: 1200px;
  /* margin-left: 25%; */
  /* z-index: -1; */

  background: #fff;
  overflow: hidden;
}
.hover:hover {
  /* bottom: 100px; */
  opacity: 1;
}

/* style={{height:"500px" ,marginTop:"7%", borderRadius:"1%", width:"1200px", marginLeft:"25%", zIndex:"-1"}} */
/* Opacity #1 */
.hover {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 500px;
  margin-top: 5%;
  border-radius: 1%;
  width: 1200px;
  /* margin-left: 25%; */
  z-index: -1;
}
.hover:hover {
  opacity: 0.5;
}
