/**
 * /* .middleNav{
 *     background-color: #221E1D;
 * }
 * 
 * 
 * 
 * 
 *     .middleNav {
 *       background: 	#221E1D;
 *       height: 80px;
 *       font-size: 1rem;
 *       text-decoration: none;
 *       color: honeydew;
 *       width: 100%;
 *       /* margin-left: 18%; 
 *       /* justify-content: center;  
 *       /* font-family: 'Indie Flower', cursive;
 *       font-size: 20px; 
 *       color: #fff;
 *
 * @format
 */

/* } * */

/* textDecoration: "none", color: '#fff', paddingLeft:"20%"  */
.aa {
  /* width: 100%;  */
  /* justify-content: center;  */
  font-family: 'Indie Flower', cursive;
  width: fit-content;
  background: #221e1d;
  /* height: 80px;  */
  font-size: 1.2rem;
  text-decoration: none;
  color: honeydew;
  /* padding-left: 20%; */
  margin-left: 30px;
  /* text-decoration: none; */
}
