   
.cardimg {
    width: 100%;
    height:350px;
    object-fit: cover;
  }
  .bodyDiv {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .columns {
    margin-left: 15%;
    margin-right: 10%;
  }
  
  h3 {
    margin: 30px 60px;
    text-align: center;
    margin-bottom: 40px !important;
  }
  .cardAboutus {
    height: 500px;
    margin-bottom: 30px;
  }
  .aboutus-icon {
    margin-top: 20px;
  }
  .aboutus-icon a {
    margin: 0px 5px;
  }